<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                                <a href="index.html" class="btn btn-default navbar-btn">Home</a>
                        </div>
                        <a id="loggedIn" href="login.html" class="btn btn-default navbar-btn"></a>
                    </form>
                </div>
        </nav>
    
    <h1 class="text-center">Hello World</h1>
    


    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function init() {
            var localstorageToken = localStorage.getItem("token")
            if (localstorageToken != null) {
                $("#loggedIn").text("Sign out")
                $("#loggedIn").click(function(){
                    localStorage.removeItem("token")
                })

            } else {
                $("#loggedIn").text("Sign in")
            }
            var token = "Bearer " + localstorageToken
            var settings = {
                "url": "http://localhost:8000/",
                "method": "GET",
                "headers": {
                    "Authorization": token,
                    "Content-Type": "application/json"
                }
            }

            $.ajax(settings).done(function (response) {

                //$("#result").text(response.data)

            })
        }
        $(function () {
            init()
        })
    </script>
</body>

</html>